.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-text100 {
  display: inline-block;
}
 
.home-text101 {
  display: inline-block;
}
 
.home-text102 {
  display: inline-block;
}
 
.home-text103 {
  display: inline-block;
}
 
.home-text104 {
  display: inline-block;
}
 
.home-text105 {
  display: inline-block;
}
 
.home-text106 {
  display: inline-block;
}
 
.home-text107 {
  display: inline-block;
  font-size: 85px;
  font-style: italic;
  font-weight: 700;
}
 
.home-text108 {
  display: inline-block;
}
 
.home-text109 {
  display: inline-block;
}
 
.home-text374 {
  display: inline-block;
}
 
.home-text375 {
  display: inline-block;
}
 
.home-text452 {
  display: inline-block;
}
 
.home-text453 {
  display: inline-block;
}
 
.home-text531 {
  display: inline-block;
}
 
.home-text532 {
  display: inline-block;
}
 
.home-text533 {
  display: inline-block;
}
 
.home-text534 {
  display: inline-block;
}
 
.home-text535 {
  display: inline-block;
}
 
.home-text536 {
  display: inline-block;
}
 
.home-text537 {
  display: inline-block;
}
 
.home-text538 {
  display: inline-block;
}
 
.home-text539 {
  display: inline-block;
}
 
.home-text540 {
  display: inline-block;
}
 
.home-text541 {
  display: inline-block;
}
 
.home-text542 {
  display: inline-block;
}
 
.home-text543 {
  display: inline-block;
}
 
.home-text544 {
  display: inline-block;
}
 
.home-text545 {
  display: inline-block;
}
 
.home-text546 {
  display: inline-block;
}
 
.home-text547 {
  display: inline-block;
}
 
.home-text548 {
  display: inline-block;
}
 
.home-text549 {
  display: inline-block;
}
 
.home-text550 {
  display: inline-block;
}
 
.home-text551 {
  display: inline-block;
}
 
.home-text552 {
  display: inline-block;
}
 
.home-text553 {
  display: inline-block;
}
 
.home-text554 {
  display: inline-block;
}
 
.home-text555 {
  display: inline-block;
}
 
.home-text556 {
  display: inline-block;
}
 
.home-text557 {
  display: inline-block;
}
 
.home-text558 {
  display: inline-block;
}
 
.home-text559 {
  display: inline-block;
}
 
.home-text560 {
  display: inline-block;
}
 
.home-text561 {
  display: inline-block;
}
